* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {  
  margin-left: calc(100vw - 100%); 
}

body {
  max-width: 1160px;
  margin: 0 auto;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;

  main {
    width: 100%;
    flex: 1;
  }
}
