@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

$primary-color: #006699;
$secondary-color: whitesmoke;

$primary-font: "Questrial", Tahoma, sans-serif;
/* $secondary-font: Tahoma, Verdana, sans-serif; */