@import "../../assets/style.scss";

a {
  text-decoration: none;
  color: #000000;
}
.user-team-card {
  // background-color: yellowgreen;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 0.5em;
  margin-bottom: 1em;
  background-color: white;
  box-shadow: 0 0.25em 1.25em -0.5em hsla(220, 20%, 30%, 0.5);
}

.team-badge {
  padding: 2em;
  img {
    max-width: 16em;
  }
}

.team-info {
  display: flex;
  flex-direction: column;
  padding: 2em;
  h4 {
    margin-bottom: 1em;
  }
  div:first-child {
    margin-right: 2em;
  }
}

.team-events {
  display: flex;
}
