.profilecard {
  /*  border: solid green; */

  width: 400px;
  margin: 95px auto 0;
  margin-bottom: 20px;
  background-color: rgb(235, 231, 231);

  text-align: center;
  font-size: 16px;
}

.profilePic {
  width: 10em;
<<<<<<< HEAD
  transform: translate(0%, -50%);
}

.profileteams {
  border: solid green;
}
=======
  height: 10em;
  border-radius: 50%;
}
>>>>>>> 1e40f985fc07785bd3d62b0cf4e47c7268b715b7
