@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

.navigationItems {
  ul {
    height: 8vh;      
    list-style: none;
    margin: 0 1rem;
    padding: 0;
    display: flex; 
    font-family: 'Questrial'
  }

  .navigation-link {
      height: 56px;
      display: flex;
      align-items: center;
      cursor: pointer;
  }

  li {
      padding: 0.5rem;
  }

  a {   
      color: #000000;
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid green;  
      }

      &:active,
      &.active {
        background-color: rgb(231, 230, 230);      
      }
  }
}
