@import '../../assets//style.scss';

.home-container {
  height: calc(100vh - 14vh);
  width: 100%;
  background-image: url("../../assets/images/project.gif");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    .pitch {
      width: 80%;
      height: 10em;
      background-color: rgba(0, 102, 153, 0.4);
      padding: 0 1em;
      font-family: $primary-font;
      font-size: 1.5em;
      color: white;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        margin: .5em 0;
        line-height: 1.5em;
      }
    }

    a {
      text-decoration: none;
    }
    .home-button {
      color: $primary-color;
      width: 6em;
      background: #ffffff;
      padding: .3em;
      margin: 1em .5em;
      border: 2px solid orange;
      border-radius: 6px;
      display: inline-block;      ;
      transition: all 0.3s ease 0s;

      &:hover {
        color: $primary-color ;
        border-radius: 50px;
        border-color: $primary-color;
        transition: all 0.3s ease 0s;
      }
    }
}

@media (min-width: 720px) {

  .home-container {
    .pitch {
      width: 30em;
      height: 7.5em;
      padding: 2em;
      box-shadow: 0 0 5px 2px #fff;
      font-size: 1.25em;  
    }
  }
}