@import "../../assets/style.scss";

nav {
  width: 100%;
  height: 8vh;
  padding-left: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $secondary-color;

  a {
    height: 100%;
    display: flex;
    align-items: center;


    img {
      height: 75%;
    }
  }

  .searchBox {
    display: none;
  }

  .profilePic-container {
    display: none;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
    font-size: 1.5em;
    color: $primary-color;
  }
}

@media (min-width: $min-width) {
  nav { 

    .spacer {
      flex: 1;
    }

    .otherLinks {
      display: flex; 
      height: 100%;
      align-items: center;  

      .searchBox {
        display: flex;
      }
  
      .search {
        position: relative;
        display: flex;
        /*right: 20px;*/
        /*top: 1px;*/
        
      }
      
      .searchInput {
        background-color: transparent;
        background-image: url('../../assets/images/search_icon.svg');
        background-position: 5px center;
        background-repeat: no-repeat;
        background-size: 18px 18px;
        border: none;
        cursor: pointer;
        height: 5vh;
        margin: 0;
        padding: 0 0 0 34px;
        position: relative;        
        transition: width 400ms ease, 400ms ease;
        left: 0;
        width: 0;     
        font-family: $primary-font;
        font-size: .85em;   
        border-radius: 5px;  
      }
      
      .searchInput:hover {
        background-color: white;
        cursor: text;
        outline: 0;
        width: 200px;
      }
      
      .searchInput:focus {
        background-color: white;
        cursor: text;
        outline: 0;
        width: 200px;
      }

      .profilePic-container {
        height: 7vh;
        display: flex;
        align-items: center;
        

        .profilePicNav {
          height: 5vh;
          width: 5vh;
          margin-left: 1em;
          border-radius: 50%;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
  }

   

    .burger-menu {
      display: none;      
    }
  }
}